<div class="div">
  <mat-form-field appearance="fill" style="margin: 0 20px">
  <mat-label>Sexes</mat-label>
  <mat-select (selectionChange)="sexSelected($event)">
    <mat-option *ngFor="let sex of sexes" [value]="sex">{{sex.name}}</mat-option>
  </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="margin: 0 20px">
    <mat-label>Species</mat-label>
    <mat-select (selectionChange)="specieSelected($event)">
      <mat-option *ngFor="let specie of species" [value]="specie">{{specie.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="margin: 0 20px">
    <mat-label>Sizes</mat-label>
    <mat-select (selectionChange)="sizeSelected($event)">
      <mat-option *ngFor="let size of sizes" [value]="size">{{size.name}}</mat-option>
    </mat-select>
  </mat-form-field >
  <mat-form-field appearance="fill" style="margin: 0 20px">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="search" (ngModelChange)="filter()">
  </mat-form-field>
  <button mat-raised-button color="primary" style="margin: auto 0" (click)="filter()">Filtrar</button>
  <button mat-icon-button (click)="removeFilters()">
    <mat-icon>clear</mat-icon>
  </button>
</div>
