.example-card {
  max-width: 300px;
  margin: 10px 30px 10px;
  display: inline-block;
  min-height: 500px;

}

.example-header-image {
  background-size: cover;
}

.filters {
  text-align: center;
}

.filter {
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 30px;
  display: inline-block;
}
