<div align="center">
  <mat-card class="card">
    <mat-card-title align="center">Firulaiz</mat-card-title>
    <img mat-card-image src="https://www.generadormemes.com/media/templates/michi_miguel.jpg" alt="Michi kul">
    <mat-card-subtitle align="left">
      <h2>
        Publicante: Elena Nofeo
        <button mat-button color="primary">Primary</button>
      </h2>

    </mat-card-subtitle>
    <mat-card-content>
      <p align="justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus vel tortor nec fringilla.
        Praesent tincidunt leo et nisi suscipit posuere. Quisque rhoncus ut dolor eu convallis.
        In iaculis nisl vitae arcu interdum sollicitudin. Sed nunc velit, tempus eget vestibulum quis, fringilla
        bibendum nisl.
        Integer nec tellus cursus, pretium turpis non, condimentum tellus. Vivamus arcu metus, rhoncus a viverra ac,
        vulputate nec lorem.
      </p>
      <div align="center">
        <div class="carac">
          <span class="material-icons icon">straighten</span>Tamaño
        </div>
        <div class="carac">
          <span class="material-icons icon">calendar_today</span>Tamaño
        </div>
        <div class="carac">
          <span class="material-icons icon">pets</span>Tamaño
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
