<div align="center">
  <mat-card class="card">
    <mat-card-title align="center">{{post.pet.name}}</mat-card-title>
    <img mat-card-image [src]="post.pet.image_url">
    <mat-card-subtitle align="left">
      <h2>
        Publicante: {{post.poster.names}} {{post.poster.last_names}}
        <button mat-button color="primary" (click)="goToProfile(post.poster.id)">Visit Profile</button>
      </h2>

    </mat-card-subtitle>
    <mat-card-content>
      <p align="justify">
        {{post.description}}
      </p>
      <div align="center">
        <div class="carac">
          <span class="material-icons icon">straighten</span>{{post.pet.size.name}}
        </div>
        <div class="carac">
          <span class="material-icons icon">calendar_today</span>{{post.pet.date_of_birth | date:'shortDate'}}
        </div>
        <div class="carac">
          <span class="material-icons icon">pets</span>{{post.pet.species.name}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="containercomm">
    <mat-card-title>Comments</mat-card-title>
    <mat-card class="com" *ngFor="let comment of comments" ca>
      <!--      <mat-card-subtitle>{{comment.commenter.names}}</mat-card-subtitle>-->
      <mat-card-content>{{comment.content}}</mat-card-content>
    </mat-card>
  </mat-card>

</div>
