<div class="background" align="center" style="background-image: url('/assets/fondo3.jpg')">
<div class="div">
  <mat-card class="example-card" *ngFor="let userpost of userposts"
            style="cursor: pointer">
    <div (click)="view(userpost.id)">
      <mat-card-header>
        <mat-card-title>{{userpost.pet.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image [src]="userpost.pet.image_url" class="image">
        <p>{{userpost.pet.species.name}}</p>
        <p>{{userpost.description}}</p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
</div>
