<div align="center" style="background-image: url('/assets/fondo3.jpg')" class="background example-card2">
  <mat-card class="example-card">
      <mat-card-title class="title">
        ¿Quiénes somos?
      </mat-card-title>
    <img mat-card-image src="./assets/DoptaLogo2.png" class="image">
    <mat-card-content class="content">
      <p>Dopta es una aplicación sin fines de lucro que tiene el propósito de promover la adopción al otorgar una plataforma a la comunidad limeña que sirva como conexión entre personas que deseen adoptar o poner en adopción a un animal. Asímismo, busca concientizar a la población acerca del estado de abandono en el que se encuentran muchos animales callejeros, además de ayudar a los dueños a través de descuentos en todo lo relacionado a mascotas.</p>
    </mat-card-content>
  </mat-card>
</div>
