<div align="center"   >
  <mat-card class="cardProfile">
    <img mat-card-image src="https://vignette.wikia.nocookie.net/sherlockholmes/images/b/bf/PortalHudson.jpg/revision/latest/scale-to-width-down/310?cb=20120213090503&path-prefix=es" alt="Photo of a Shiba Inu">
    <mat-card-title align="center">Elenano Feo</mat-card-title>
    <div class="stars"><span class="material-icons">star_rate star_rate star_rate star_rate star_rate</span></div>
    <mat-card-content>
      <div align="center">
        <button mat-raised-button color="primary" class="btn">Agregar</button>
        <button mat-raised-button color="accent" class="btn">Enviar Mensaje</button>
      </div>
      <p align="justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus vel tortor nec fringilla.
        Praesent tincidunt leo et nisi suscipit posuere. Quisque rhoncus ut dolor eu convallis.
        In iaculis nisl vitae arcu interdum sollicitudin. Sed nunc velit, tempus eget vestibulum quis, fringilla bibendum nisl.
        Integer nec tellus cursus, pretium turpis non, condimentum tellus. Vivamus arcu metus, rhoncus a viverra ac, vulputate nec lorem.
      </p>
      <div align="left">
        <span class="material-icons">house</span><br>
        <span class="material-icons">call</span><br>
        <span class="material-icons">local_post_office</span><br>
        <span class="material-icons">calendar_today</span>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="cardPublication">
    <mat-card class="minicard">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title align="center">Firulais1</mat-card-title>
    </mat-card>
    <mat-card class="minicard">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title align="center">Firulais2</mat-card-title>
    </mat-card>
    <mat-card class="minicard">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title align="center">Firulais3</mat-card-title>
    </mat-card>
    <mat-card class="minicard">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title align="center">Firulais4</mat-card-title>
    </mat-card>
    <mat-card class="minicard">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title align="center">Firulais5</mat-card-title>
    </mat-card>
    <mat-card class="minicard">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title align="center">Firulais6</mat-card-title>
    </mat-card>
  </mat-card>

</div>

